@page "/Projects/{ProjectSlug}/Issues/{IssueId}"
@using ArcaneLibs.Extensions
@using BugMine.Sdk.Events.Timeline
@using BugMine.Web.Components.ScopedContainers
<h3>New issue</h3>

<ProjectContainer ProjectSlug="@ProjectSlug" ProjectContext="@ProjectContext">
    <IssueContainer IssueId="@IssueId" IssueContext="@IssueContext">
        <p>meow</p>
    </IssueContainer>
</ProjectContainer>

@code {

    [Parameter]
    public string ProjectSlug { get; set; } = null!;

    [Parameter]
    public string IssueId { get; set; } = null!;

    public ProjectContainer.ProjectContainerContext? ProjectContext { get; set; } = new();
    public IssueContainer.IssueContainerContext? IssueContext { get; set; } = new();

}